
@{
    ViewBag.Title = "validate";
}

<h2>validate</h2>
@using (Html.BeginForm())
{
    <p> username; <input type="text" name="username" />
   password; <input type="text" name="password"/>
<input type="submit",name="submit" ,value="sign up" /></p>
}

